html,body{
    margin: 0;
    padding: 0;
    background-color: #f2f3f5;
}

body{
    padding: 15px;
}

.layui-card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form_table_add{
    padding-top: 20px;
    padding-right: 30px;
}

#form_table_xg{
    padding-top: 20px;
    padding-right: 30px;
}